*.class

# Package Files #
*.jar
*.war
*.ear
*~
/secureAppExample/target/
/secureSpringApp/secureAppExample/target/
/secureSpringApp/secureAppExample-web/target/
/secureSpringApp/secureAppExample-impl/target/
/techSupport/techSupport-impl/target/
/techSupport/techSupport-web/target//techSupport/techSupport-impl/derby.log
/techSupport/techSupport-impl/ProductsDB/
/techSupport/techSupport-web/target/
/techSupport/techSupport-impl/derby.log
ProductsDB
/techSupport/derby.log
/techSupport/Procfile
