*.class

# Package Files #
*.jar
*.war
*.ear
*~
/techSupport-impl/target/
/techSupport-web/target/
/techSupport/techSupport-impl/derby.log
/techSupport/techSupport-impl/ProductsDB/
/techSupport/techSupport-web/target/
/techSupport/techSupport-impl/derby.log
ProductsDB
/techSupport/derby.log
/techSupport/Procfile
/techSupport-impl/derby.log
