
#top {
    position: relative;
    background-color: #008894;
    color: white;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    background-color: #008894;
    color: white;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden ;
    position:relative;
    margin:0 auto 0;
    display:block;
    width:960px;
    box-shadow: 0px 0px 20px 3px #d3d3d3;
    /*border-radius:4px;*/
}

#left {
    float: left;
    background-color: white;
    padding: 5px;
    width: 180px;   
    height: 100%; 
    min-height: 100%;
}
.verticalLine {
    border-right: solid #ff0000;
    border-left: solid #ff0000;
    height: 100%;

}

#right {
    float: right;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    float: left;
    margin-left: 30px;
    min-height: 300px;
    margin-bottom: 20px;

    /*
        background-color: #dddddd;

        background-color: #dddddd;
        padding: 5px;
        margin-left: 210px;*/
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


